{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
<!-- Hero
		================================================== -->

<div class="section over-hide padding-top-120 padding-top-mob-nav padding-bottom-120 section-background-24 background-img-top">
    <div class="section-1400 pt-xl-4">
        <div class="container-fluid padding-top-bottom-80">
            <div class="row">
                <div class="col-lg">
                    <h2 class="display-8 mb-3">
                        Checkout completed
                    </h2>
                    <p class="lead mb-0 title-text-left-line-small">
                        A clean layout for a stylish e-commerce.
                    </p>
                </div>
                <div class="col-lg-auto align-self-center mt-4 mt-lg-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb no-border">
                            <li class="breadcrumb-item"><a href="#" class="link link-dark-primary size-14"
                                    data-hover="Home">Home</a></li>
                            <li class="breadcrumb-item"><a href="#" class="link link-dark-primary size-14"
                                    data-hover="Shop">Shop</a></li>
                            <li class="breadcrumb-item active font-weight-500" aria-current="page"><span
                                    class="size-14">Checkout completed</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="section-1400">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section bg-white border-4 section-shadow-blue p-4">
                        <h6 class="mb-3">
                            Thank you very much for your interest in our products!
                        </h6>
                        <p class="mb-1">
                            We have received your order request and will get back to you once it is processed.
                        </p>
                        <p class="mb-0">
                            You can now <a href="#" class="link link-dark-primary"
                                data-hover="continue browsing this site">continue browsing this site</a> or <a href="#"
                                class="link link-dark-primary" data-hover="review your order">review your order</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}